/***
 * Twerk CSS
 * @author: Rocco Augusto
 * @url: http://www.twitter.com
**/

/*** SCAFFOLDING ***/
html, body { min-height:480px; min-width:320px; height:100%; width:100%; }
body {
  font-family: RobotoDraft, sans-serif;
  color: #fff; margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  background: #212121;
  position:relative;
}
section { margin:20px; }
a, a:hover { text-decoration: none; }
h4 { font-weight:300; font-size:13px; background:#006064; padding:10px; }
core-menu { margin-top:20px; }
.text-center { position:absolute; font-size:12px; width:100px; height:100px; top:0; left:0; right:0; bottom:0; margin:auto; text-align:center; }
.text-center::shadow /deep/ core-icon { height:40px; width:40px; }
.text-center::shadow /deep/ #icon { margin:16px auto 0; }
.ng-show { display:block; }
.ng-hide { display:none; }
.apk-icon { position:absolute; right:15px; }
.version { position:absolute; bottom: 0.5rem; right:0.5rem; font-size:10px; }

/*** WRAPPERS ***/
core-menu { max-width:600px; margin:0 auto; }
.dropzone { position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; width:100%; height:100%; z-index:0; }

/*** TOOLBAR ***/
core-toolbar { background-color: #ffeb3b; color: #fff; font-size: 20px; font-weight: 400; color: #000; position:relative; z-index:10; }
core-toolbar paper-item::shadow core-icon { color:#00bcd4; }

/*** BUTTONS ***/
paper-button { margin: 0.5em 1em 0.5em 0; width: 10em; }
paper-button[right] { position: fixed; right: 0; }
paper-fab { position: absolute !important; bottom: 35px; left:0; right:0; margin:0 auto; z-index: 1; background:#e91e63; }

/*** FORMS ***/
paper-checkbox { margin-left: 1em; }
html /deep/ input { color:#fff; }
paper-radio-button::shadow #ink[checked] { color: #00bcd4; }
paper-toggle-button::shadow paper-radio-button::shadow #onRadio {background-color: #00bcd4; }
paper-toggle-button::shadow #toggleBar[checked] { background-color: #00bcd4; }

/*** DIALOGS ***/
paper-dialog {width:400px; }
paper-dialog paper-button { font-weight: bold; }
paper-button[autofocus] { color: #00bcd4; }