/** redesign 1/2012r**/
.options_header {
    height:110px;
    padding-bottom:10px;
    margin-top: 25px;
    position: relative;
}
.options_header h1 {
    margin-left: 20px;
    margin-top: 15px;
    font-size:28px;
    color:#424242;
    font-weight:normal;
    float: left;
}
.logo_box {
    float: left;
    background:#61b3de;
    padding:15px 20px 10px;
    width:102px;
    line-height:10px;
    cursor:pointer;
}
.user_login_box {
    margin-right: 20px;
    margin-top:10px;
    padding-top:10px;
    line-height: 28px;
    float: right;

}
.user_login_box img {
    margin-right:8px;
    margin-bottom: 2px;
    border-radius:20px;
}
.user_login_box span {
    padding: 0 5px;
}
.user_login_box img,
.user_login_box strong,
.user_login_box a,
.user_login_box span {
    display: inline-block;
    vertical-align: middle;
}
img.bitly_fish_img {
    float: right;
    margin-right: 20px;
    -webkit-transform: rotateY(180deg);    

}
.opts_form {
    margin-left:130px;
    margin-top:10px;
    width:800px;
}
.opts_form fieldset { 
    border:0;
    margin-bottom:40px;
}
.opts_form label strong {
    font-size:15px;
    font-weight:bold;
}
.opts_form label  {
    margin-left:33px;
    margin-top:-17px;
    display:block;
}
.opts_form label p {
    margin-top:5px;
    font-size:15px;
}
.trends_count_num {
    margin:0;
    padding:2px 5px;
    border:1px solid #ccc;
    min-width:3em;
    max-width:3.5em;
    margin:0 4px;
}


.link_bitly {
    cursor:pointer;
}
