.obs .wind {
	background:url(../images/wind-vane.png) no-repeat center;
	width:157px; height:156px;
	background-size: 157px 156px; 
	position:relative;
}

/*.obs .wind img { position:absolute; top:0; left:0; }*/

.obs .windspeed-wrap { 
	width:100%; height:100%; 
	position:absolute;
	color:#fff; 
	text-align:center; 
}

.obs .wind .value { font-family:WeatherWindowFontBold, Arial, Helvetica, Sans-Serif; }
.obs .wind .windSpeed .value { font-size:40px; line-height:1em; }
.obs .wind .windUnits .value { font-size:20px; }



.wind img {
	-webkit-transition: -webkit-transform 0.75s ease-out;
	-moz-transition: -webkit-transform 0.75s ease-out;
	transition: -webkit-transform 0.75s ease-out;
}
.wind.dir0 img { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); transform: rotate(0deg); }
.wind.dir1 img { -webkit-transform: rotate(1deg); -moz-transform: rotate(1deg); transform: rotate(1deg); }
.wind.dir2 img { -webkit-transform: rotate(2deg); -moz-transform: rotate(2deg); transform: rotate(2deg); }
.wind.dir3 img { -webkit-transform: rotate(3deg); -moz-transform: rotate(3deg); transform: rotate(3deg); }
.wind.dir4 img { -webkit-transform: rotate(4deg); -moz-transform: rotate(4deg); transform: rotate(4deg); }
.wind.dir5 img { -webkit-transform: rotate(5deg); -moz-transform: rotate(5deg); transform: rotate(5deg); }
.wind.dir6 img { -webkit-transform: rotate(6deg); -moz-transform: rotate(6deg); transform: rotate(6deg); }
.wind.dir7 img { -webkit-transform: rotate(7deg); -moz-transform: rotate(7deg); transform: rotate(7deg); }
.wind.dir8 img { -webkit-transform: rotate(8deg); -moz-transform: rotate(8deg); transform: rotate(8deg); }
.wind.dir9 img { -webkit-transform: rotate(9deg); -moz-transform: rotate(9deg); transform: rotate(9deg); }
.wind.dir10 img { -webkit-transform: rotate(10deg); -moz-transform: rotate(10deg); transform: rotate(10deg); }
.wind.dir11 img { -webkit-transform: rotate(11deg); -moz-transform: rotate(11deg); transform: rotate(11deg); }
.wind.dir12 img { -webkit-transform: rotate(12deg); -moz-transform: rotate(12deg); transform: rotate(12deg); }
.wind.dir13 img { -webkit-transform: rotate(13deg); -moz-transform: rotate(13deg); transform: rotate(13deg); }
.wind.dir14 img { -webkit-transform: rotate(14deg); -moz-transform: rotate(14deg); transform: rotate(14deg); }
.wind.dir15 img { -webkit-transform: rotate(15deg); -moz-transform: rotate(15deg); transform: rotate(15deg); }
.wind.dir16 img { -webkit-transform: rotate(16deg); -moz-transform: rotate(16deg); transform: rotate(16deg); }
.wind.dir17 img { -webkit-transform: rotate(17deg); -moz-transform: rotate(17deg); transform: rotate(17deg); }
.wind.dir18 img { -webkit-transform: rotate(18deg); -moz-transform: rotate(18deg); transform: rotate(18deg); }
.wind.dir19 img { -webkit-transform: rotate(19deg); -moz-transform: rotate(19deg); transform: rotate(19deg); }
.wind.dir20 img { -webkit-transform: rotate(20deg); -moz-transform: rotate(20deg); transform: rotate(20deg); }
.wind.dir21 img { -webkit-transform: rotate(21deg); -moz-transform: rotate(21deg); transform: rotate(21deg); }
.wind.dir22 img { -webkit-transform: rotate(22deg); -moz-transform: rotate(22deg); transform: rotate(22deg); }
.wind.dir23 img { -webkit-transform: rotate(23deg); -moz-transform: rotate(23deg); transform: rotate(23deg); }
.wind.dir24 img { -webkit-transform: rotate(24deg); -moz-transform: rotate(24deg); transform: rotate(24deg); }
.wind.dir25 img { -webkit-transform: rotate(25deg); -moz-transform: rotate(25deg); transform: rotate(25deg); }
.wind.dir26 img { -webkit-transform: rotate(26deg); -moz-transform: rotate(26deg); transform: rotate(26deg); }
.wind.dir27 img { -webkit-transform: rotate(27deg); -moz-transform: rotate(27deg); transform: rotate(27deg); }
.wind.dir28 img { -webkit-transform: rotate(28deg); -moz-transform: rotate(28deg); transform: rotate(28deg); }
.wind.dir29 img { -webkit-transform: rotate(29deg); -moz-transform: rotate(29deg); transform: rotate(29deg); }
.wind.dir30 img { -webkit-transform: rotate(30deg); -moz-transform: rotate(30deg); transform: rotate(30deg); }
.wind.dir31 img { -webkit-transform: rotate(31deg); -moz-transform: rotate(31deg); transform: rotate(31deg); }
.wind.dir32 img { -webkit-transform: rotate(32deg); -moz-transform: rotate(32deg); transform: rotate(32deg); }
.wind.dir33 img { -webkit-transform: rotate(33deg); -moz-transform: rotate(33deg); transform: rotate(33deg); }
.wind.dir34 img { -webkit-transform: rotate(34deg); -moz-transform: rotate(34deg); transform: rotate(34deg); }
.wind.dir35 img { -webkit-transform: rotate(35deg); -moz-transform: rotate(35deg); transform: rotate(35deg); }
.wind.dir36 img { -webkit-transform: rotate(36deg); -moz-transform: rotate(36deg); transform: rotate(36deg); }
.wind.dir37 img { -webkit-transform: rotate(37deg); -moz-transform: rotate(37deg); transform: rotate(37deg); }
.wind.dir38 img { -webkit-transform: rotate(38deg); -moz-transform: rotate(38deg); transform: rotate(38deg); }
.wind.dir39 img { -webkit-transform: rotate(39deg); -moz-transform: rotate(39deg); transform: rotate(39deg); }
.wind.dir40 img { -webkit-transform: rotate(40deg); -moz-transform: rotate(40deg); transform: rotate(40deg); }
.wind.dir41 img { -webkit-transform: rotate(41deg); -moz-transform: rotate(41deg); transform: rotate(41deg); }
.wind.dir42 img { -webkit-transform: rotate(42deg); -moz-transform: rotate(42deg); transform: rotate(42deg); }
.wind.dir43 img { -webkit-transform: rotate(43deg); -moz-transform: rotate(43deg); transform: rotate(43deg); }
.wind.dir44 img { -webkit-transform: rotate(44deg); -moz-transform: rotate(44deg); transform: rotate(44deg); }
.wind.dir45 img { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); transform: rotate(45deg); }
.wind.dir46 img { -webkit-transform: rotate(46deg); -moz-transform: rotate(46deg); transform: rotate(46deg); }
.wind.dir47 img { -webkit-transform: rotate(47deg); -moz-transform: rotate(47deg); transform: rotate(47deg); }
.wind.dir48 img { -webkit-transform: rotate(48deg); -moz-transform: rotate(48deg); transform: rotate(48deg); }
.wind.dir49 img { -webkit-transform: rotate(49deg); -moz-transform: rotate(49deg); transform: rotate(49deg); }
.wind.dir50 img { -webkit-transform: rotate(50deg); -moz-transform: rotate(50deg); transform: rotate(50deg); }
.wind.dir51 img { -webkit-transform: rotate(51deg); -moz-transform: rotate(51deg); transform: rotate(51deg); }
.wind.dir52 img { -webkit-transform: rotate(52deg); -moz-transform: rotate(52deg); transform: rotate(52deg); }
.wind.dir53 img { -webkit-transform: rotate(53deg); -moz-transform: rotate(53deg); transform: rotate(53deg); }
.wind.dir54 img { -webkit-transform: rotate(54deg); -moz-transform: rotate(54deg); transform: rotate(54deg); }
.wind.dir55 img { -webkit-transform: rotate(55deg); -moz-transform: rotate(55deg); transform: rotate(55deg); }
.wind.dir56 img { -webkit-transform: rotate(56deg); -moz-transform: rotate(56deg); transform: rotate(56deg); }
.wind.dir57 img { -webkit-transform: rotate(57deg); -moz-transform: rotate(57deg); transform: rotate(57deg); }
.wind.dir58 img { -webkit-transform: rotate(58deg); -moz-transform: rotate(58deg); transform: rotate(58deg); }
.wind.dir59 img { -webkit-transform: rotate(59deg); -moz-transform: rotate(59deg); transform: rotate(59deg); }
.wind.dir60 img { -webkit-transform: rotate(60deg); -moz-transform: rotate(60deg); transform: rotate(60deg); }
.wind.dir61 img { -webkit-transform: rotate(61deg); -moz-transform: rotate(61deg); transform: rotate(61deg); }
.wind.dir62 img { -webkit-transform: rotate(62deg); -moz-transform: rotate(62deg); transform: rotate(62deg); }
.wind.dir63 img { -webkit-transform: rotate(63deg); -moz-transform: rotate(63deg); transform: rotate(63deg); }
.wind.dir64 img { -webkit-transform: rotate(64deg); -moz-transform: rotate(64deg); transform: rotate(64deg); }
.wind.dir65 img { -webkit-transform: rotate(65deg); -moz-transform: rotate(65deg); transform: rotate(65deg); }
.wind.dir66 img { -webkit-transform: rotate(66deg); -moz-transform: rotate(66deg); transform: rotate(66deg); }
.wind.dir67 img { -webkit-transform: rotate(67deg); -moz-transform: rotate(67deg); transform: rotate(67deg); }
.wind.dir68 img { -webkit-transform: rotate(68deg); -moz-transform: rotate(68deg); transform: rotate(68deg); }
.wind.dir69 img { -webkit-transform: rotate(69deg); -moz-transform: rotate(69deg); transform: rotate(69deg); }
.wind.dir70 img { -webkit-transform: rotate(70deg); -moz-transform: rotate(70deg); transform: rotate(70deg); }
.wind.dir71 img { -webkit-transform: rotate(71deg); -moz-transform: rotate(71deg); transform: rotate(71deg); }
.wind.dir72 img { -webkit-transform: rotate(72deg); -moz-transform: rotate(72deg); transform: rotate(72deg); }
.wind.dir73 img { -webkit-transform: rotate(73deg); -moz-transform: rotate(73deg); transform: rotate(73deg); }
.wind.dir74 img { -webkit-transform: rotate(74deg); -moz-transform: rotate(74deg); transform: rotate(74deg); }
.wind.dir75 img { -webkit-transform: rotate(75deg); -moz-transform: rotate(75deg); transform: rotate(75deg); }
.wind.dir76 img { -webkit-transform: rotate(76deg); -moz-transform: rotate(76deg); transform: rotate(76deg); }
.wind.dir77 img { -webkit-transform: rotate(77deg); -moz-transform: rotate(77deg); transform: rotate(77deg); }
.wind.dir78 img { -webkit-transform: rotate(78deg); -moz-transform: rotate(78deg); transform: rotate(78deg); }
.wind.dir79 img { -webkit-transform: rotate(79deg); -moz-transform: rotate(79deg); transform: rotate(79deg); }
.wind.dir80 img { -webkit-transform: rotate(80deg); -moz-transform: rotate(80deg); transform: rotate(80deg); }
.wind.dir81 img { -webkit-transform: rotate(81deg); -moz-transform: rotate(81deg); transform: rotate(81deg); }
.wind.dir82 img { -webkit-transform: rotate(82deg); -moz-transform: rotate(82deg); transform: rotate(82deg); }
.wind.dir83 img { -webkit-transform: rotate(83deg); -moz-transform: rotate(83deg); transform: rotate(83deg); }
.wind.dir84 img { -webkit-transform: rotate(84deg); -moz-transform: rotate(84deg); transform: rotate(84deg); }
.wind.dir85 img { -webkit-transform: rotate(85deg); -moz-transform: rotate(85deg); transform: rotate(85deg); }
.wind.dir86 img { -webkit-transform: rotate(86deg); -moz-transform: rotate(86deg); transform: rotate(86deg); }
.wind.dir87 img { -webkit-transform: rotate(87deg); -moz-transform: rotate(87deg); transform: rotate(87deg); }
.wind.dir88 img { -webkit-transform: rotate(88deg); -moz-transform: rotate(88deg); transform: rotate(88deg); }
.wind.dir89 img { -webkit-transform: rotate(89deg); -moz-transform: rotate(89deg); transform: rotate(89deg); }
.wind.dir90 img { -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); transform: rotate(90deg); }
.wind.dir91 img { -webkit-transform: rotate(91deg); -moz-transform: rotate(91deg); transform: rotate(91deg); }
.wind.dir92 img { -webkit-transform: rotate(92deg); -moz-transform: rotate(92deg); transform: rotate(92deg); }
.wind.dir93 img { -webkit-transform: rotate(93deg); -moz-transform: rotate(93deg); transform: rotate(93deg); }
.wind.dir94 img { -webkit-transform: rotate(94deg); -moz-transform: rotate(94deg); transform: rotate(94deg); }
.wind.dir95 img { -webkit-transform: rotate(95deg); -moz-transform: rotate(95deg); transform: rotate(95deg); }
.wind.dir96 img { -webkit-transform: rotate(96deg); -moz-transform: rotate(96deg); transform: rotate(96deg); }
.wind.dir97 img { -webkit-transform: rotate(97deg); -moz-transform: rotate(97deg); transform: rotate(97deg); }
.wind.dir98 img { -webkit-transform: rotate(98deg); -moz-transform: rotate(98deg); transform: rotate(98deg); }
.wind.dir99 img { -webkit-transform: rotate(99deg); -moz-transform: rotate(99deg); transform: rotate(99deg); }
.wind.dir100 img { -webkit-transform: rotate(100deg); -moz-transform: rotate(100deg); transform: rotate(100deg); }
.wind.dir101 img { -webkit-transform: rotate(101deg); -moz-transform: rotate(101deg); transform: rotate(101deg); }
.wind.dir102 img { -webkit-transform: rotate(102deg); -moz-transform: rotate(102deg); transform: rotate(102deg); }
.wind.dir103 img { -webkit-transform: rotate(103deg); -moz-transform: rotate(103deg); transform: rotate(103deg); }
.wind.dir104 img { -webkit-transform: rotate(104deg); -moz-transform: rotate(104deg); transform: rotate(104deg); }
.wind.dir105 img { -webkit-transform: rotate(105deg); -moz-transform: rotate(105deg); transform: rotate(105deg); }
.wind.dir106 img { -webkit-transform: rotate(106deg); -moz-transform: rotate(106deg); transform: rotate(106deg); }
.wind.dir107 img { -webkit-transform: rotate(107deg); -moz-transform: rotate(107deg); transform: rotate(107deg); }
.wind.dir108 img { -webkit-transform: rotate(108deg); -moz-transform: rotate(108deg); transform: rotate(108deg); }
.wind.dir109 img { -webkit-transform: rotate(109deg); -moz-transform: rotate(109deg); transform: rotate(109deg); }
.wind.dir110 img { -webkit-transform: rotate(110deg); -moz-transform: rotate(110deg); transform: rotate(110deg); }
.wind.dir111 img { -webkit-transform: rotate(111deg); -moz-transform: rotate(111deg); transform: rotate(111deg); }
.wind.dir112 img { -webkit-transform: rotate(112deg); -moz-transform: rotate(112deg); transform: rotate(112deg); }
.wind.dir113 img { -webkit-transform: rotate(113deg); -moz-transform: rotate(113deg); transform: rotate(113deg); }
.wind.dir114 img { -webkit-transform: rotate(114deg); -moz-transform: rotate(114deg); transform: rotate(114deg); }
.wind.dir115 img { -webkit-transform: rotate(115deg); -moz-transform: rotate(115deg); transform: rotate(115deg); }
.wind.dir116 img { -webkit-transform: rotate(116deg); -moz-transform: rotate(116deg); transform: rotate(116deg); }
.wind.dir117 img { -webkit-transform: rotate(117deg); -moz-transform: rotate(117deg); transform: rotate(117deg); }
.wind.dir118 img { -webkit-transform: rotate(118deg); -moz-transform: rotate(118deg); transform: rotate(118deg); }
.wind.dir119 img { -webkit-transform: rotate(119deg); -moz-transform: rotate(119deg); transform: rotate(119deg); }
.wind.dir120 img { -webkit-transform: rotate(120deg); -moz-transform: rotate(120deg); transform: rotate(120deg); }
.wind.dir121 img { -webkit-transform: rotate(121deg); -moz-transform: rotate(121deg); transform: rotate(121deg); }
.wind.dir122 img { -webkit-transform: rotate(122deg); -moz-transform: rotate(122deg); transform: rotate(122deg); }
.wind.dir123 img { -webkit-transform: rotate(123deg); -moz-transform: rotate(123deg); transform: rotate(123deg); }
.wind.dir124 img { -webkit-transform: rotate(124deg); -moz-transform: rotate(124deg); transform: rotate(124deg); }
.wind.dir125 img { -webkit-transform: rotate(125deg); -moz-transform: rotate(125deg); transform: rotate(125deg); }
.wind.dir126 img { -webkit-transform: rotate(126deg); -moz-transform: rotate(126deg); transform: rotate(126deg); }
.wind.dir127 img { -webkit-transform: rotate(127deg); -moz-transform: rotate(127deg); transform: rotate(127deg); }
.wind.dir128 img { -webkit-transform: rotate(128deg); -moz-transform: rotate(128deg); transform: rotate(128deg); }
.wind.dir129 img { -webkit-transform: rotate(129deg); -moz-transform: rotate(129deg); transform: rotate(129deg); }
.wind.dir130 img { -webkit-transform: rotate(130deg); -moz-transform: rotate(130deg); transform: rotate(130deg); }
.wind.dir131 img { -webkit-transform: rotate(131deg); -moz-transform: rotate(131deg); transform: rotate(131deg); }
.wind.dir132 img { -webkit-transform: rotate(132deg); -moz-transform: rotate(132deg); transform: rotate(132deg); }
.wind.dir133 img { -webkit-transform: rotate(133deg); -moz-transform: rotate(133deg); transform: rotate(133deg); }
.wind.dir134 img { -webkit-transform: rotate(134deg); -moz-transform: rotate(134deg); transform: rotate(134deg); }
.wind.dir135 img { -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); transform: rotate(135deg); }
.wind.dir136 img { -webkit-transform: rotate(136deg); -moz-transform: rotate(136deg); transform: rotate(136deg); }
.wind.dir137 img { -webkit-transform: rotate(137deg); -moz-transform: rotate(137deg); transform: rotate(137deg); }
.wind.dir138 img { -webkit-transform: rotate(138deg); -moz-transform: rotate(138deg); transform: rotate(138deg); }
.wind.dir139 img { -webkit-transform: rotate(139deg); -moz-transform: rotate(139deg); transform: rotate(139deg); }
.wind.dir140 img { -webkit-transform: rotate(140deg); -moz-transform: rotate(140deg); transform: rotate(140deg); }
.wind.dir141 img { -webkit-transform: rotate(141deg); -moz-transform: rotate(141deg); transform: rotate(141deg); }
.wind.dir142 img { -webkit-transform: rotate(142deg); -moz-transform: rotate(142deg); transform: rotate(142deg); }
.wind.dir143 img { -webkit-transform: rotate(143deg); -moz-transform: rotate(143deg); transform: rotate(143deg); }
.wind.dir144 img { -webkit-transform: rotate(144deg); -moz-transform: rotate(144deg); transform: rotate(144deg); }
.wind.dir145 img { -webkit-transform: rotate(145deg); -moz-transform: rotate(145deg); transform: rotate(145deg); }
.wind.dir146 img { -webkit-transform: rotate(146deg); -moz-transform: rotate(146deg); transform: rotate(146deg); }
.wind.dir147 img { -webkit-transform: rotate(147deg); -moz-transform: rotate(147deg); transform: rotate(147deg); }
.wind.dir148 img { -webkit-transform: rotate(148deg); -moz-transform: rotate(148deg); transform: rotate(148deg); }
.wind.dir149 img { -webkit-transform: rotate(149deg); -moz-transform: rotate(149deg); transform: rotate(149deg); }
.wind.dir150 img { -webkit-transform: rotate(150deg); -moz-transform: rotate(150deg); transform: rotate(150deg); }
.wind.dir151 img { -webkit-transform: rotate(151deg); -moz-transform: rotate(151deg); transform: rotate(151deg); }
.wind.dir152 img { -webkit-transform: rotate(152deg); -moz-transform: rotate(152deg); transform: rotate(152deg); }
.wind.dir153 img { -webkit-transform: rotate(153deg); -moz-transform: rotate(153deg); transform: rotate(153deg); }
.wind.dir154 img { -webkit-transform: rotate(154deg); -moz-transform: rotate(154deg); transform: rotate(154deg); }
.wind.dir155 img { -webkit-transform: rotate(155deg); -moz-transform: rotate(155deg); transform: rotate(155deg); }
.wind.dir156 img { -webkit-transform: rotate(156deg); -moz-transform: rotate(156deg); transform: rotate(156deg); }
.wind.dir157 img { -webkit-transform: rotate(157deg); -moz-transform: rotate(157deg); transform: rotate(157deg); }
.wind.dir158 img { -webkit-transform: rotate(158deg); -moz-transform: rotate(158deg); transform: rotate(158deg); }
.wind.dir159 img { -webkit-transform: rotate(159deg); -moz-transform: rotate(159deg); transform: rotate(159deg); }
.wind.dir160 img { -webkit-transform: rotate(160deg); -moz-transform: rotate(160deg); transform: rotate(160deg); }
.wind.dir161 img { -webkit-transform: rotate(161deg); -moz-transform: rotate(161deg); transform: rotate(161deg); }
.wind.dir162 img { -webkit-transform: rotate(162deg); -moz-transform: rotate(162deg); transform: rotate(162deg); }
.wind.dir163 img { -webkit-transform: rotate(163deg); -moz-transform: rotate(163deg); transform: rotate(163deg); }
.wind.dir164 img { -webkit-transform: rotate(164deg); -moz-transform: rotate(164deg); transform: rotate(164deg); }
.wind.dir165 img { -webkit-transform: rotate(165deg); -moz-transform: rotate(165deg); transform: rotate(165deg); }
.wind.dir166 img { -webkit-transform: rotate(166deg); -moz-transform: rotate(166deg); transform: rotate(166deg); }
.wind.dir167 img { -webkit-transform: rotate(167deg); -moz-transform: rotate(167deg); transform: rotate(167deg); }
.wind.dir168 img { -webkit-transform: rotate(168deg); -moz-transform: rotate(168deg); transform: rotate(168deg); }
.wind.dir169 img { -webkit-transform: rotate(169deg); -moz-transform: rotate(169deg); transform: rotate(169deg); }
.wind.dir170 img { -webkit-transform: rotate(170deg); -moz-transform: rotate(170deg); transform: rotate(170deg); }
.wind.dir171 img { -webkit-transform: rotate(171deg); -moz-transform: rotate(171deg); transform: rotate(171deg); }
.wind.dir172 img { -webkit-transform: rotate(172deg); -moz-transform: rotate(172deg); transform: rotate(172deg); }
.wind.dir173 img { -webkit-transform: rotate(173deg); -moz-transform: rotate(173deg); transform: rotate(173deg); }
.wind.dir174 img { -webkit-transform: rotate(174deg); -moz-transform: rotate(174deg); transform: rotate(174deg); }
.wind.dir175 img { -webkit-transform: rotate(175deg); -moz-transform: rotate(175deg); transform: rotate(175deg); }
.wind.dir176 img { -webkit-transform: rotate(176deg); -moz-transform: rotate(176deg); transform: rotate(176deg); }
.wind.dir177 img { -webkit-transform: rotate(177deg); -moz-transform: rotate(177deg); transform: rotate(177deg); }
.wind.dir178 img { -webkit-transform: rotate(178deg); -moz-transform: rotate(178deg); transform: rotate(178deg); }
.wind.dir179 img { -webkit-transform: rotate(179deg); -moz-transform: rotate(179deg); transform: rotate(179deg); }
.wind.dir180 img { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); transform: rotate(180deg); }
.wind.dir181 img { -webkit-transform: rotate(181deg); -moz-transform: rotate(181deg); transform: rotate(181deg); }
.wind.dir182 img { -webkit-transform: rotate(182deg); -moz-transform: rotate(182deg); transform: rotate(182deg); }
.wind.dir183 img { -webkit-transform: rotate(183deg); -moz-transform: rotate(183deg); transform: rotate(183deg); }
.wind.dir184 img { -webkit-transform: rotate(184deg); -moz-transform: rotate(184deg); transform: rotate(184deg); }
.wind.dir185 img { -webkit-transform: rotate(185deg); -moz-transform: rotate(185deg); transform: rotate(185deg); }
.wind.dir186 img { -webkit-transform: rotate(186deg); -moz-transform: rotate(186deg); transform: rotate(186deg); }
.wind.dir187 img { -webkit-transform: rotate(187deg); -moz-transform: rotate(187deg); transform: rotate(187deg); }
.wind.dir188 img { -webkit-transform: rotate(188deg); -moz-transform: rotate(188deg); transform: rotate(188deg); }
.wind.dir189 img { -webkit-transform: rotate(189deg); -moz-transform: rotate(189deg); transform: rotate(189deg); }
.wind.dir190 img { -webkit-transform: rotate(190deg); -moz-transform: rotate(190deg); transform: rotate(190deg); }
.wind.dir191 img { -webkit-transform: rotate(191deg); -moz-transform: rotate(191deg); transform: rotate(191deg); }
.wind.dir192 img { -webkit-transform: rotate(192deg); -moz-transform: rotate(192deg); transform: rotate(192deg); }
.wind.dir193 img { -webkit-transform: rotate(193deg); -moz-transform: rotate(193deg); transform: rotate(193deg); }
.wind.dir194 img { -webkit-transform: rotate(194deg); -moz-transform: rotate(194deg); transform: rotate(194deg); }
.wind.dir195 img { -webkit-transform: rotate(195deg); -moz-transform: rotate(195deg); transform: rotate(195deg); }
.wind.dir196 img { -webkit-transform: rotate(196deg); -moz-transform: rotate(196deg); transform: rotate(196deg); }
.wind.dir197 img { -webkit-transform: rotate(197deg); -moz-transform: rotate(197deg); transform: rotate(197deg); }
.wind.dir198 img { -webkit-transform: rotate(198deg); -moz-transform: rotate(198deg); transform: rotate(198deg); }
.wind.dir199 img { -webkit-transform: rotate(199deg); -moz-transform: rotate(199deg); transform: rotate(199deg); }
.wind.dir200 img { -webkit-transform: rotate(200deg); -moz-transform: rotate(200deg); transform: rotate(200deg); }
.wind.dir201 img { -webkit-transform: rotate(201deg); -moz-transform: rotate(201deg); transform: rotate(201deg); }
.wind.dir202 img { -webkit-transform: rotate(202deg); -moz-transform: rotate(202deg); transform: rotate(202deg); }
.wind.dir203 img { -webkit-transform: rotate(203deg); -moz-transform: rotate(203deg); transform: rotate(203deg); }
.wind.dir204 img { -webkit-transform: rotate(204deg); -moz-transform: rotate(204deg); transform: rotate(204deg); }
.wind.dir205 img { -webkit-transform: rotate(205deg); -moz-transform: rotate(205deg); transform: rotate(205deg); }
.wind.dir206 img { -webkit-transform: rotate(206deg); -moz-transform: rotate(206deg); transform: rotate(206deg); }
.wind.dir207 img { -webkit-transform: rotate(207deg); -moz-transform: rotate(207deg); transform: rotate(207deg); }
.wind.dir208 img { -webkit-transform: rotate(208deg); -moz-transform: rotate(208deg); transform: rotate(208deg); }
.wind.dir209 img { -webkit-transform: rotate(209deg); -moz-transform: rotate(209deg); transform: rotate(209deg); }
.wind.dir210 img { -webkit-transform: rotate(210deg); -moz-transform: rotate(210deg); transform: rotate(210deg); }
.wind.dir211 img { -webkit-transform: rotate(211deg); -moz-transform: rotate(211deg); transform: rotate(211deg); }
.wind.dir212 img { -webkit-transform: rotate(212deg); -moz-transform: rotate(212deg); transform: rotate(212deg); }
.wind.dir213 img { -webkit-transform: rotate(213deg); -moz-transform: rotate(213deg); transform: rotate(213deg); }
.wind.dir214 img { -webkit-transform: rotate(214deg); -moz-transform: rotate(214deg); transform: rotate(214deg); }
.wind.dir215 img { -webkit-transform: rotate(215deg); -moz-transform: rotate(215deg); transform: rotate(215deg); }
.wind.dir216 img { -webkit-transform: rotate(216deg); -moz-transform: rotate(216deg); transform: rotate(216deg); }
.wind.dir217 img { -webkit-transform: rotate(217deg); -moz-transform: rotate(217deg); transform: rotate(217deg); }
.wind.dir218 img { -webkit-transform: rotate(218deg); -moz-transform: rotate(218deg); transform: rotate(218deg); }
.wind.dir219 img { -webkit-transform: rotate(219deg); -moz-transform: rotate(219deg); transform: rotate(219deg); }
.wind.dir220 img { -webkit-transform: rotate(220deg); -moz-transform: rotate(220deg); transform: rotate(220deg); }
.wind.dir221 img { -webkit-transform: rotate(221deg); -moz-transform: rotate(221deg); transform: rotate(221deg); }
.wind.dir222 img { -webkit-transform: rotate(222deg); -moz-transform: rotate(222deg); transform: rotate(222deg); }
.wind.dir223 img { -webkit-transform: rotate(223deg); -moz-transform: rotate(223deg); transform: rotate(223deg); }
.wind.dir224 img { -webkit-transform: rotate(224deg); -moz-transform: rotate(224deg); transform: rotate(224deg); }
.wind.dir225 img { -webkit-transform: rotate(225deg); -moz-transform: rotate(225deg); transform: rotate(225deg); }
.wind.dir226 img { -webkit-transform: rotate(226deg); -moz-transform: rotate(226deg); transform: rotate(226deg); }
.wind.dir227 img { -webkit-transform: rotate(227deg); -moz-transform: rotate(227deg); transform: rotate(227deg); }
.wind.dir228 img { -webkit-transform: rotate(228deg); -moz-transform: rotate(228deg); transform: rotate(228deg); }
.wind.dir229 img { -webkit-transform: rotate(229deg); -moz-transform: rotate(229deg); transform: rotate(229deg); }
.wind.dir230 img { -webkit-transform: rotate(230deg); -moz-transform: rotate(230deg); transform: rotate(230deg); }
.wind.dir231 img { -webkit-transform: rotate(231deg); -moz-transform: rotate(231deg); transform: rotate(231deg); }
.wind.dir232 img { -webkit-transform: rotate(232deg); -moz-transform: rotate(232deg); transform: rotate(232deg); }
.wind.dir233 img { -webkit-transform: rotate(233deg); -moz-transform: rotate(233deg); transform: rotate(233deg); }
.wind.dir234 img { -webkit-transform: rotate(234deg); -moz-transform: rotate(234deg); transform: rotate(234deg); }
.wind.dir235 img { -webkit-transform: rotate(235deg); -moz-transform: rotate(235deg); transform: rotate(235deg); }
.wind.dir236 img { -webkit-transform: rotate(236deg); -moz-transform: rotate(236deg); transform: rotate(236deg); }
.wind.dir237 img { -webkit-transform: rotate(237deg); -moz-transform: rotate(237deg); transform: rotate(237deg); }
.wind.dir238 img { -webkit-transform: rotate(238deg); -moz-transform: rotate(238deg); transform: rotate(238deg); }
.wind.dir239 img { -webkit-transform: rotate(239deg); -moz-transform: rotate(239deg); transform: rotate(239deg); }
.wind.dir240 img { -webkit-transform: rotate(240deg); -moz-transform: rotate(240deg); transform: rotate(240deg); }
.wind.dir241 img { -webkit-transform: rotate(241deg); -moz-transform: rotate(241deg); transform: rotate(241deg); }
.wind.dir242 img { -webkit-transform: rotate(242deg); -moz-transform: rotate(242deg); transform: rotate(242deg); }
.wind.dir243 img { -webkit-transform: rotate(243deg); -moz-transform: rotate(243deg); transform: rotate(243deg); }
.wind.dir244 img { -webkit-transform: rotate(244deg); -moz-transform: rotate(244deg); transform: rotate(244deg); }
.wind.dir245 img { -webkit-transform: rotate(245deg); -moz-transform: rotate(245deg); transform: rotate(245deg); }
.wind.dir246 img { -webkit-transform: rotate(246deg); -moz-transform: rotate(246deg); transform: rotate(246deg); }
.wind.dir247 img { -webkit-transform: rotate(247deg); -moz-transform: rotate(247deg); transform: rotate(247deg); }
.wind.dir248 img { -webkit-transform: rotate(248deg); -moz-transform: rotate(248deg); transform: rotate(248deg); }
.wind.dir249 img { -webkit-transform: rotate(249deg); -moz-transform: rotate(249deg); transform: rotate(249deg); }
.wind.dir250 img { -webkit-transform: rotate(250deg); -moz-transform: rotate(250deg); transform: rotate(250deg); }
.wind.dir251 img { -webkit-transform: rotate(251deg); -moz-transform: rotate(251deg); transform: rotate(251deg); }
.wind.dir252 img { -webkit-transform: rotate(252deg); -moz-transform: rotate(252deg); transform: rotate(252deg); }
.wind.dir253 img { -webkit-transform: rotate(253deg); -moz-transform: rotate(253deg); transform: rotate(253deg); }
.wind.dir254 img { -webkit-transform: rotate(254deg); -moz-transform: rotate(254deg); transform: rotate(254deg); }
.wind.dir255 img { -webkit-transform: rotate(255deg); -moz-transform: rotate(255deg); transform: rotate(255deg); }
.wind.dir256 img { -webkit-transform: rotate(256deg); -moz-transform: rotate(256deg); transform: rotate(256deg); }
.wind.dir257 img { -webkit-transform: rotate(257deg); -moz-transform: rotate(257deg); transform: rotate(257deg); }
.wind.dir258 img { -webkit-transform: rotate(258deg); -moz-transform: rotate(258deg); transform: rotate(258deg); }
.wind.dir259 img { -webkit-transform: rotate(259deg); -moz-transform: rotate(259deg); transform: rotate(259deg); }
.wind.dir260 img { -webkit-transform: rotate(260deg); -moz-transform: rotate(260deg); transform: rotate(260deg); }
.wind.dir261 img { -webkit-transform: rotate(261deg); -moz-transform: rotate(261deg); transform: rotate(261deg); }
.wind.dir262 img { -webkit-transform: rotate(262deg); -moz-transform: rotate(262deg); transform: rotate(262deg); }
.wind.dir263 img { -webkit-transform: rotate(263deg); -moz-transform: rotate(263deg); transform: rotate(263deg); }
.wind.dir264 img { -webkit-transform: rotate(264deg); -moz-transform: rotate(264deg); transform: rotate(264deg); }
.wind.dir265 img { -webkit-transform: rotate(265deg); -moz-transform: rotate(265deg); transform: rotate(265deg); }
.wind.dir266 img { -webkit-transform: rotate(266deg); -moz-transform: rotate(266deg); transform: rotate(266deg); }
.wind.dir267 img { -webkit-transform: rotate(267deg); -moz-transform: rotate(267deg); transform: rotate(267deg); }
.wind.dir268 img { -webkit-transform: rotate(268deg); -moz-transform: rotate(268deg); transform: rotate(268deg); }
.wind.dir269 img { -webkit-transform: rotate(269deg); -moz-transform: rotate(269deg); transform: rotate(269deg); }
.wind.dir270 img { -webkit-transform: rotate(270deg); -moz-transform: rotate(270deg); transform: rotate(270deg); }
.wind.dir271 img { -webkit-transform: rotate(271deg); -moz-transform: rotate(271deg); transform: rotate(271deg); }
.wind.dir272 img { -webkit-transform: rotate(272deg); -moz-transform: rotate(272deg); transform: rotate(272deg); }
.wind.dir273 img { -webkit-transform: rotate(273deg); -moz-transform: rotate(273deg); transform: rotate(273deg); }
.wind.dir274 img { -webkit-transform: rotate(274deg); -moz-transform: rotate(274deg); transform: rotate(274deg); }
.wind.dir275 img { -webkit-transform: rotate(275deg); -moz-transform: rotate(275deg); transform: rotate(275deg); }
.wind.dir276 img { -webkit-transform: rotate(276deg); -moz-transform: rotate(276deg); transform: rotate(276deg); }
.wind.dir277 img { -webkit-transform: rotate(277deg); -moz-transform: rotate(277deg); transform: rotate(277deg); }
.wind.dir278 img { -webkit-transform: rotate(278deg); -moz-transform: rotate(278deg); transform: rotate(278deg); }
.wind.dir279 img { -webkit-transform: rotate(279deg); -moz-transform: rotate(279deg); transform: rotate(279deg); }
.wind.dir280 img { -webkit-transform: rotate(280deg); -moz-transform: rotate(280deg); transform: rotate(280deg); }
.wind.dir281 img { -webkit-transform: rotate(281deg); -moz-transform: rotate(281deg); transform: rotate(281deg); }
.wind.dir282 img { -webkit-transform: rotate(282deg); -moz-transform: rotate(282deg); transform: rotate(282deg); }
.wind.dir283 img { -webkit-transform: rotate(283deg); -moz-transform: rotate(283deg); transform: rotate(283deg); }
.wind.dir284 img { -webkit-transform: rotate(284deg); -moz-transform: rotate(284deg); transform: rotate(284deg); }
.wind.dir285 img { -webkit-transform: rotate(285deg); -moz-transform: rotate(285deg); transform: rotate(285deg); }
.wind.dir286 img { -webkit-transform: rotate(286deg); -moz-transform: rotate(286deg); transform: rotate(286deg); }
.wind.dir287 img { -webkit-transform: rotate(287deg); -moz-transform: rotate(287deg); transform: rotate(287deg); }
.wind.dir288 img { -webkit-transform: rotate(288deg); -moz-transform: rotate(288deg); transform: rotate(288deg); }
.wind.dir289 img { -webkit-transform: rotate(289deg); -moz-transform: rotate(289deg); transform: rotate(289deg); }
.wind.dir290 img { -webkit-transform: rotate(290deg); -moz-transform: rotate(290deg); transform: rotate(290deg); }
.wind.dir291 img { -webkit-transform: rotate(291deg); -moz-transform: rotate(291deg); transform: rotate(291deg); }
.wind.dir292 img { -webkit-transform: rotate(292deg); -moz-transform: rotate(292deg); transform: rotate(292deg); }
.wind.dir293 img { -webkit-transform: rotate(293deg); -moz-transform: rotate(293deg); transform: rotate(293deg); }
.wind.dir294 img { -webkit-transform: rotate(294deg); -moz-transform: rotate(294deg); transform: rotate(294deg); }
.wind.dir295 img { -webkit-transform: rotate(295deg); -moz-transform: rotate(295deg); transform: rotate(295deg); }
.wind.dir296 img { -webkit-transform: rotate(296deg); -moz-transform: rotate(296deg); transform: rotate(296deg); }
.wind.dir297 img { -webkit-transform: rotate(297deg); -moz-transform: rotate(297deg); transform: rotate(297deg); }
.wind.dir298 img { -webkit-transform: rotate(298deg); -moz-transform: rotate(298deg); transform: rotate(298deg); }
.wind.dir299 img { -webkit-transform: rotate(299deg); -moz-transform: rotate(299deg); transform: rotate(299deg); }
.wind.dir300 img { -webkit-transform: rotate(300deg); -moz-transform: rotate(300deg); transform: rotate(300deg); }
.wind.dir301 img { -webkit-transform: rotate(301deg); -moz-transform: rotate(301deg); transform: rotate(301deg); }
.wind.dir302 img { -webkit-transform: rotate(302deg); -moz-transform: rotate(302deg); transform: rotate(302deg); }
.wind.dir303 img { -webkit-transform: rotate(303deg); -moz-transform: rotate(303deg); transform: rotate(303deg); }
.wind.dir304 img { -webkit-transform: rotate(304deg); -moz-transform: rotate(304deg); transform: rotate(304deg); }
.wind.dir305 img { -webkit-transform: rotate(305deg); -moz-transform: rotate(305deg); transform: rotate(305deg); }
.wind.dir306 img { -webkit-transform: rotate(306deg); -moz-transform: rotate(306deg); transform: rotate(306deg); }
.wind.dir307 img { -webkit-transform: rotate(307deg); -moz-transform: rotate(307deg); transform: rotate(307deg); }
.wind.dir308 img { -webkit-transform: rotate(308deg); -moz-transform: rotate(308deg); transform: rotate(308deg); }
.wind.dir309 img { -webkit-transform: rotate(309deg); -moz-transform: rotate(309deg); transform: rotate(309deg); }
.wind.dir310 img { -webkit-transform: rotate(310deg); -moz-transform: rotate(310deg); transform: rotate(310deg); }
.wind.dir311 img { -webkit-transform: rotate(311deg); -moz-transform: rotate(311deg); transform: rotate(311deg); }
.wind.dir312 img { -webkit-transform: rotate(312deg); -moz-transform: rotate(312deg); transform: rotate(312deg); }
.wind.dir313 img { -webkit-transform: rotate(313deg); -moz-transform: rotate(313deg); transform: rotate(313deg); }
.wind.dir314 img { -webkit-transform: rotate(314deg); -moz-transform: rotate(314deg); transform: rotate(314deg); }
.wind.dir315 img { -webkit-transform: rotate(315deg); -moz-transform: rotate(315deg); transform: rotate(315deg); }
.wind.dir316 img { -webkit-transform: rotate(316deg); -moz-transform: rotate(316deg); transform: rotate(316deg); }
.wind.dir317 img { -webkit-transform: rotate(317deg); -moz-transform: rotate(317deg); transform: rotate(317deg); }
.wind.dir318 img { -webkit-transform: rotate(318deg); -moz-transform: rotate(318deg); transform: rotate(318deg); }
.wind.dir319 img { -webkit-transform: rotate(319deg); -moz-transform: rotate(319deg); transform: rotate(319deg); }
.wind.dir320 img { -webkit-transform: rotate(320deg); -moz-transform: rotate(320deg); transform: rotate(320deg); }
.wind.dir321 img { -webkit-transform: rotate(321deg); -moz-transform: rotate(321deg); transform: rotate(321deg); }
.wind.dir322 img { -webkit-transform: rotate(322deg); -moz-transform: rotate(322deg); transform: rotate(322deg); }
.wind.dir323 img { -webkit-transform: rotate(323deg); -moz-transform: rotate(323deg); transform: rotate(323deg); }
.wind.dir324 img { -webkit-transform: rotate(324deg); -moz-transform: rotate(324deg); transform: rotate(324deg); }
.wind.dir325 img { -webkit-transform: rotate(325deg); -moz-transform: rotate(325deg); transform: rotate(325deg); }
.wind.dir326 img { -webkit-transform: rotate(326deg); -moz-transform: rotate(326deg); transform: rotate(326deg); }
.wind.dir327 img { -webkit-transform: rotate(327deg); -moz-transform: rotate(327deg); transform: rotate(327deg); }
.wind.dir328 img { -webkit-transform: rotate(328deg); -moz-transform: rotate(328deg); transform: rotate(328deg); }
.wind.dir329 img { -webkit-transform: rotate(329deg); -moz-transform: rotate(329deg); transform: rotate(329deg); }
.wind.dir330 img { -webkit-transform: rotate(330deg); -moz-transform: rotate(330deg); transform: rotate(330deg); }
.wind.dir331 img { -webkit-transform: rotate(331deg); -moz-transform: rotate(331deg); transform: rotate(331deg); }
.wind.dir332 img { -webkit-transform: rotate(332deg); -moz-transform: rotate(332deg); transform: rotate(332deg); }
.wind.dir333 img { -webkit-transform: rotate(333deg); -moz-transform: rotate(333deg); transform: rotate(333deg); }
.wind.dir334 img { -webkit-transform: rotate(334deg); -moz-transform: rotate(334deg); transform: rotate(334deg); }
.wind.dir335 img { -webkit-transform: rotate(335deg); -moz-transform: rotate(335deg); transform: rotate(335deg); }
.wind.dir336 img { -webkit-transform: rotate(336deg); -moz-transform: rotate(336deg); transform: rotate(336deg); }
.wind.dir337 img { -webkit-transform: rotate(337deg); -moz-transform: rotate(337deg); transform: rotate(337deg); }
.wind.dir338 img { -webkit-transform: rotate(338deg); -moz-transform: rotate(338deg); transform: rotate(338deg); }
.wind.dir339 img { -webkit-transform: rotate(339deg); -moz-transform: rotate(339deg); transform: rotate(339deg); }
.wind.dir340 img { -webkit-transform: rotate(340deg); -moz-transform: rotate(340deg); transform: rotate(340deg); }
.wind.dir341 img { -webkit-transform: rotate(341deg); -moz-transform: rotate(341deg); transform: rotate(341deg); }
.wind.dir342 img { -webkit-transform: rotate(342deg); -moz-transform: rotate(342deg); transform: rotate(342deg); }
.wind.dir343 img { -webkit-transform: rotate(343deg); -moz-transform: rotate(343deg); transform: rotate(343deg); }
.wind.dir344 img { -webkit-transform: rotate(344deg); -moz-transform: rotate(344deg); transform: rotate(344deg); }
.wind.dir345 img { -webkit-transform: rotate(345deg); -moz-transform: rotate(345deg); transform: rotate(345deg); }
.wind.dir346 img { -webkit-transform: rotate(346deg); -moz-transform: rotate(346deg); transform: rotate(346deg); }
.wind.dir347 img { -webkit-transform: rotate(347deg); -moz-transform: rotate(347deg); transform: rotate(347deg); }
.wind.dir348 img { -webkit-transform: rotate(348deg); -moz-transform: rotate(348deg); transform: rotate(348deg); }
.wind.dir349 img { -webkit-transform: rotate(349deg); -moz-transform: rotate(349deg); transform: rotate(349deg); }
.wind.dir350 img { -webkit-transform: rotate(350deg); -moz-transform: rotate(350deg); transform: rotate(350deg); }
.wind.dir351 img { -webkit-transform: rotate(351deg); -moz-transform: rotate(351deg); transform: rotate(351deg); }
.wind.dir352 img { -webkit-transform: rotate(352deg); -moz-transform: rotate(352deg); transform: rotate(352deg); }
.wind.dir353 img { -webkit-transform: rotate(353deg); -moz-transform: rotate(353deg); transform: rotate(353deg); }
.wind.dir354 img { -webkit-transform: rotate(354deg); -moz-transform: rotate(354deg); transform: rotate(354deg); }
.wind.dir355 img { -webkit-transform: rotate(355deg); -moz-transform: rotate(355deg); transform: rotate(355deg); }
.wind.dir356 img { -webkit-transform: rotate(356deg); -moz-transform: rotate(356deg); transform: rotate(356deg); }
.wind.dir357 img { -webkit-transform: rotate(357deg); -moz-transform: rotate(357deg); transform: rotate(357deg); }
.wind.dir358 img { -webkit-transform: rotate(358deg); -moz-transform: rotate(358deg); transform: rotate(358deg); }
.wind.dir359 img { -webkit-transform: rotate(359deg); -moz-transform: rotate(359deg); transform: rotate(359deg); }
.wind.dir360 img { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); transform: rotate(360deg); }